.bg-dark {
    color: #cfcfcf;
    background-color: #343030;
}

.bg-light {
    color: #343030;
    background-color: #cfcfcf;
}

.mg-horizontal {
    margin-left: 3px;
    margin-right: 3px;
}

.row-container {
    display: flex;
    align-content: space-between;
    flex-direction: row;
}

.column-container {
    display: flex;
    align-content: space-between;
    flex-direction: column;
}

.invisible {
    display: none;
}

.absolute {
    position: absolute;
    left: 0px;
    top: 0px;
}

.stacked-children {
    position: relative;
}

.positive-depth {
    z-index: 1;
}

#canvas-modif-pattern {
    opacity: 0.65;
}